@charset "UTF-8";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga'; 
}


body{ 
	font-family: 'Noto Sans KR', sans-serif;
	min-width:1190px;
	background:rgb(229, 252, 245, 0.2); 

}
/* 
body::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background: url("../img/bg.jpg");
	background-repeat: no-repeat; repeat, no-repeat
	background-attachment: fixed; fixed 또는 scroll / fixed 하면 스크롤따라옴
	background-size: cover; contain 또는 cover
	z-index:-1;
	opacity: 0.2;
}

 */
a, a:link, a:hover{
	text-decoration: none;
	color: inherit;
}

header a:hover{
	color: white;
	font-weight: 800;
}


section{
	width: 1130px;
	margin: 0 auto;
}


.effect{
	color: red !important;
}




/*--------------top -----------*/


.back{
	position: absolute;
	top:0;
	left: 0;
	opacity: 0.4;
	height: 100%;
	width: 100%;
	
}

.topMenu{
	height: 100px;
	width: 100%;
	padding: 0px;
	background:rgba(63, 63, 63, 0);
	position: fixed;
	top:0;
	color: white;
	z-index:100;
	transition : all 0.2s ease-in-out
}
.top_wrap{
	width: 1130px;
	margin: 0 auto;
	position: relative;
}




.logo{
	display: inline-block;
	height: 100px;
	top:0;
	left:10%;
	width: 150px;
}

.logo img{
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
}

.logo img:hover{
	transform: scale(1.1);
}

#gnb{
	width: 800px;
	display: inline-block;
	font-size: 25px;
	position: absolute;
    top: 0px;
    height: 100px;
}

#gnb ul{
	text-align: center;
	height: 100px;
}
.gnbul > li{
	padding: 38px 45px;
	display: inline-block;
}

.top{
	width: 100%;
	margin: 0 auto;
	height: 600px;
	position: relative;
	background: black;
}


.top h1{
	font-size: 120px;
	color: #FFFBFA;
	top: 240px;
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}



.top h2{
	font-size: 30px;
	color: #FFFBFA;
	top: 460px;
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.burger{
	display: inline-block;
	width: 100px;
	position: absolute;
	right:30px;
	top:30px;
	height: 100px;
}
.burger span{
	font-size: 40px;
}

/*------------------sideMenu----------*/

.side{

	z-index:10;
	
}

.sideMenu{
	width: 200px;
	height: 400px;
	background: rgba(18, 18, 18, 0.8);
	z-index:10;
	position: absolute;
	right:0px;
	top:70px;
	line-height: 70px;
	font-size: 20px;
	padding-right:30px ;
	display: none; 
}
.sideMenu li{
	height: 75px;
}

.sideMenu span{
	display: inline-block;
	margin-right: 30px;
	margin-left: 20px;
	font-size: 25px;
}
.sideMenu p{
	display: inline-block;
}


/*-----------lnb---------------*/

.lnb{
	position: relative;
 	display: none;
	width: 165px;
	height: 500px;
	font-size: 25px;
}

.lnb li{
	background: rgba(18, 18, 18, 0.8);
	height: 100px;
	line-height: 100px;
}



.info{
	position: absolute;
	top: 100px;
	left: 90px;
}

.product{
	position: absolute;
	top: 100px;
	left: 255px;
}


.recipe{
	position: absolute;
	top: 100px;
	left: 420px;
}


.news{
	position: absolute;
	top: 100px;
	left: 585px;
	align-items: center;
}



/*----------------aside(move-top)-----------------*/
aside{
	position: fixed;
	bottom :5%;
	right:5%;
	font-size: 50px;
	background: rgba(130, 130, 130, 0.4);
	border-radius: 70px;
	padding: 10px;
}
.move{
	font-size: 50px;
}


/*------------footer---------*/
footer{
	width: 100%;
	height: 100%;
	text-align: center;
	background:#210124;
	color: white;
	height: 200px;
	padding: 50px;
	line-height: 40px;
	margin-top: 50px;
	margin-bottom: 0px;
}


.active {
	background: rgba(213, 255, 213, 0.34);
	color:  rgba(7, 214, 0, 1);
}



/*------------- login --------------*/
* {
		box-sizing: border-box
	}
	#member_ui {
		max-width: 300px;
		margin: 0 auto;
	}
	.ui-header a:hover {
		text-decoration : none;
	}
	.ui-header {
		display: flex;
		height: 40px;
		border-bottom: 1px solid #333;
	}
	.ui-header > li {
		width: 120px;
		line-height: 40px;
		height: 40px;	
		text-align: center;	
	}
	.ui-header > li.active {
		margin: 0 0 0 5px;
		border: 1px solid #333;
		border-bottom: 1px solid white;		
	}
	.ui-scene > div {
		display: none;
	}
	.ui-scene > div.showing {
		display: block;
	}
	ui-header {
	font-size : 20px;
	text-align :center;
	font-weight : bold;
	}
.login-logo {
	display : flex;
	justify-content : center;
	margin : 40px;
}
.title {
	font-size : 20px;
	text-align :center;
	font-weight : bold;
	margin : 0 0 20px 0;
}

.ui-scene {
	font-size : 20px;
	text-align :center;
	font-weight : bold;
}
.title a, a:link {
	text-decoration : none;
}
.title a:hover {
	color : darkgrey;
}
.d-none {
	display : none;
}
#tools {
	text-align :center;
	margin : 10px;
	
}
#tools .mj2 {
	position : absolute;
	left : 37%;
	margin : 0 0 20px 0;
	
}
#tools input {
    width:400px;
 	height:50px;
    font-size:20px;
    padding : 0 10px;
    margin : 10px;
}
#item {
	margin : 0 0 0 375px;
}
#login-btn {
	display : flex;
	justify-content : center;
}
#login-btn input {
	width : 390px;
	height : 40px;
	border-radius : 10px;
	font-size : 20px;
	font-weight : bold;
	margin : 10px
}
.social-login {
	margin : 15px;
	display : flex;
	justify-content : center;
}
.social-login button {
	width :175px;
	height : 50px;
	margin : 0 20px;
	border-radius : 20px;
	font-size: 18px;
}
.help {
	display : flex;
	justify-content : center;
}
.help a, a:link {
	text-decoration : none;
	color : inherit;
}


/* ------------ intro --------------*/
.ceo-text {
	text-align : center;
	font-size: 30px;
	font-weight: bolder;
	position :absolute;
	top:130%;
	left:50%;
	color : white;
}
.ceo-sign {
	text-align : right;
	font-size: 20px;
	padding : 0 30px;
}
.social-icon {
	text-align : center;
	margin : 30px;
}
.social-icon img {
	margin : 0 10px;
}
.ceo-talk {
	width:500px 0px 500px 5000px;
    height:500px;
	margin : 20px;	
	padding : 0 100px;
}
.ceo-talk p {
	display : block;
	font-size: 14px;
}
.ceo-talk h2 {
	font-size: 20px;
}
.brand-nav {
	display : flex;
	justify-content : center;
	margin : 0 0 50px 0;
	font-weight : bolder;
	font-size: 20px;
}
.foot-title {
	background : url(../images/brand-nav1.jpg) no-repeat;
	width : 625px;
	height : 300px;
	text-align :center;
	color : white;
	display : flex;
	justify-content : center;
	flex-direction : column;
	cursor : pointer;
}
.foot-title:hover {
	width : 645px;
	height : 310px;
	transition : all ease-in-out .3s;
	filter: brightness(70%)
}
.foot-title:not(:hover) {
	transform: scale(1);
	transition : all ease-in-out .3s;
}
.foot-title2:hover {
	width : 645px;
	height : 310px;
	transition : all ease-in-out .3s;
	filter: brightness(70%)
}
.foot-title2:not(:hover) {
	transform: scale(1);
	transition : all ease-in-out .3s;
}
.foot-title3:hover {
	width : 645px;
	height : 310px;
	transition : all ease-in-out .3s;
	filter: brightness(70%)
}
.foot-title3:not(:hover) {
	transform: scale(1);
	transition : all ease-in-out .3s;
}
.foot-title2 {
	background : url(../images/brand-nav3.png) no-repeat;
	width : 625px;
	height : 300px;
	text-align :center;
	color : white;
	display : flex;
	justify-content : center;
	flex-direction : column;
	cursor : pointer;
}
.foot-title3 {
	background : url(../images/branv-nav2.jpg) no-repeat;
	width : 625px;
	height : 300px;
	text-align :center;
	color : white;
	display : flex;
	justify-content : center;
	flex-direction : column;
	cursor : pointer;
}
.text-between {
	border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding : 5px 0;
    font-size : 12px;
    margin-top : 19px;
    display : inline-block;
}
/* 
<!-- company -->
 */
 
 .company {
 	text-align : center;
 	font-size : 20px;
 	font-weight : bold;
 	margin : 50px 0 10px 0;
 }
 
.minjae-wrap {
	display : flex;
	justify-content : center;
	margin : 20px;
	font-size : 18px
}
.minjae {
	margin : 20px;
}
.minjae:hover img {
	transform: scale(1.123) translateX(5%);
	transition : all ease-in-out .3s;
	opacity : 0.7;
}
.minjae:not(:hover) img {
	transform: scale(1);
	transition : all ease-in-out .3s;
}
.minjae2 {
	margin : 20px;
}
.minjae2:hover img {
	transform: scale(1.123) translateX(5%);
	transition : all ease-in-out .3s;
	opacity : 0.7;
}
.minjae2:not(:hover) img {
	transform: scale(1);
	transition : all ease-in-out .3s;
}
.minjae3 {
	margin : 20px;
}
.minjae3:hover img {
	transform: scale(1.123) translateX(5%);
	transition : all ease-in-out .3s;
	opacity : 0.7;
}
.minjae3:not(:hover) img {
	transform: scale(1);
	transition : all ease-in-out .3s;
}

.minjae4 {
	margin : 20px;
}
.minjae4:hover img {
	transform: scale(1.123) translateX(5%);
	transition : all ease-in-out .3s;
	opacity : 0.7;
}
.minjae4:not(:hover) img {
	transform: scale(1);
	transition : all ease-in-out .3s;
}
.minjae-text {
	margin : 10px 0 0 0;
	text-align : left;
}
.minjae-text:hover {
	opacity : 0.7;
}
.minjae-wrap span {
	font-size : 18px;
}
.minjae-wrap2 {
	display : flex;
	justify-content : center;
	margin : 50px;
	font-size : 18px
}
.minjae-wrap2 span {
	font-size : 18px;
	text-decoration : none;
}
.minjae5 {
	margin : 20px;
}
.minjae5:hover img {
	transform: scale(1.123) translateX(5%);
	transition : all ease-in-out .3s;
	opacity : 0.7;
}
.minjae5:not(:hover) img {
	transform: scale(1);
	transition : all ease-in-out .3s;
}

.minjae6 {
	margin : 20px;
}
.minjae6:hover img {
	transform: scale(1.123) translateX(5%);
	transition : all ease-in-out .3s;
	opacity : 0.7;
}
.minjae6:not(:hover) img {
	transform: scale(1);
	transition : all ease-in-out .3s;
}
.minjae7 {
	margin : 20px;
}
.minjae7:hover img {
	transform: scale(1.123) translateX(5%);
	transition : all ease-in-out .3s;
	opacity : 0.7;
}
.minjae7:not(:hover) img {
	transform: scale(1);
	transition : all ease-in-out .3s;
}
.minjae8 {
	margin : 20px;
}
.minjae8:hover img {
	transform: scale(1.123) translateX(5%);
	transition : all ease-in-out .3s;
	opacity : 0.7;
}
.minjae8:not(:hover) img {
	transform: scale(1);
	transition : all ease-in-out .3s;
}

/* <----------------------sign-up------------------> */

.mj2 {
	text-align : center;
}
.title2 {
	font-size : 20px;
	text-align :center;
	color : slateblue;
}
#login-btn2 {
	display : flex;
	justify-content : center;
}
#login-btn2 input {
	width : 360px;
	height : 50px;
	border-radius : 10px;
	font-size : 20px;
	font-weight : bold;
	margin : 10px;
	display : flex;
	justify-content : center;
}
#tools2 {
	text-align :center;
	margin : 10px;
	
}
#tools2 .mj2 {
	position : absolute;
	left : 37%;
	margin : 0 0 20px 0;
	
}
#tools2 input {
    width:400px;
 	height:50px;
    font-size:20px;
    padding : 0 10px;
    margin : 10px;
}
.login-wrap {
	position : relative;
	left : 1%;	
}


/*---------------burger-------------*/



.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* 2th bar 사라지고,  1st 3rd bar 회전하며 X  */

.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}

.burger > .active{
	background:  rgba(18, 18, 18, 0);
}




