@charset "UTF-8";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga'; 
}


body{ 
	font-family: 'Noto Sans KR', sans-serif;
	min-width:1190px;
	background:rgb(229, 252, 245, 0.2); 

}
/* 
body::after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background: url("../img/bg.jpg");
	background-repeat: no-repeat; repeat, no-repeat
	background-attachment: fixed; fixed 또는 scroll / fixed 하면 스크롤따라옴
	background-size: cover; contain 또는 cover
	z-index:-1;
	opacity: 0.2;
}

 */
a, a:link{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: white;
	font-weight: 800;
}


section{
	width: 1130px;
	margin: 0 auto;
}

.effect{
	color: red !important;
}




/*--------------top -----------*/


.back{
	position: absolute;
	top:0;
	left: 0;
	opacity: 0.4;
	height: 100%;
	width: 100%;
	
}

.topMenu{
	height: 100px;
	width: 100%;
	padding: 0px;
	background:rgba(63, 63, 63, 0);
	position: fixed;
	top:0;
	color: white;
	z-index:100;
	transition : all 0.2s ease-in-out
}
.top_wrap{
	width: 1130px;
	margin: 0 auto;
	position: relative;
}




.logo{
	display: inline-block;
	height: 100px;
	top:0;
	left:10%;
	width: 150px;
}

.logo img{
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
}

.logo img:hover{
	transform: scale(1.1);
}

#gnb{
	width: 800px;
	display: inline-block;
	font-size: 25px;
	position: absolute;
    top: 0px;
    height: 100px;
}

#gnb ul{
	text-align: center;
	height: 100px;
}
.gnbul > li{
	padding: 38px 45px;
	display: inline-block;
}

.top{
	width: 100%;
	margin: 0 auto;
	height: 600px;
	position: relative;
	background: black;
}


.top h1{
	font-size: 150px;
	color: #FFFBFA;
	top: 240px;
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}



.top h2{
	font-size: 40px;
	color: #FFFBFA;
	top: 460px;
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.burger{
	display: inline-block;
	width: 100px;
	position: absolute;
	right:30px;
	top:30px;
	height: 100px;
}
.burger span{
	font-size: 40px;
}

/*------------------sideMenu----------*/

.side{

	z-index:10;
	
}

.sideMenu{
	width: 200px;
	height: 400px;
	background: rgba(18, 18, 18, 0.8);
	z-index:10;
	position: absolute;
	right:0px;
	top:70px;
	line-height: 70px;
	font-size: 20px;
	padding-right:30px ;
	display: none; 
}
.sideMenu li{
	height: 75px;
}

.sideMenu span{
	display: inline-block;
	margin-right: 30px;
	margin-left: 20px;
	font-size: 25px;
}
.sideMenu p{
	display: inline-block;
}


/*-----------lnb---------------*/

.lnb{
	position: relative;
 	display: none;
	width: 165px;
	height: 500px;
	font-size: 25px;
}

.lnb li{
	background: rgba(18, 18, 18, 0.8);
	height: 100px;
	line-height: 100px;
}



.info{
	position: absolute;
	top: 100px;
	left: 90px;
}

.product{
	position: absolute;
	top: 100px;
	left: 255px;
}


.recipe{
	position: absolute;
	top: 100px;
	left: 420px;
}


.news{
	position: absolute;
	top: 100px;
	left: 585px;
	align-items: center;
}


/*-----------video--------*/

.video_part{
	width: 1130px;
	margin: 0 auto;
	height: 1000px;
	position: relative;
	text-align: center;	
}

video{
	width: 100%;
}

.video_part h2{
	font-size: 50px;
	padding: 200px 0 50px;
	color: rgba(33, 1, 36);
}


/*-------캐러셀---------------*/
.carousel{
	background: black;
}


.carousel h5{
	font-size: 50px;	
}

.carousel p{
	font-size: 20px;
	line-height: 80px;	
}

.carousel img{
	opacity: 0.4;
	transition: all .3s;
	height: 800px; 
}

.carousel img:hover{
	opacity: 1;
	transform: scale(1.1);
}

.carousel span{
	width: 100px;
	height: 100px;
}

/*-------태그---------*/

.tag{
	width: 1000px;
	height: 150px;
	text-align: center;
	border : 3px solid #00BD9D;
	margin: 200px auto;
	border-radius: 70px;
}


.tag p{
	display: inline-block;
	padding: 30px 30px;
	font-size: 30px;
	background:rgb(139, 215, 210, 0.6);
	margin: 20px;
	color:rgb(60, 1, 36);
	border-radius: 70px;
	box-shadow: 3px 5px 8px 3px rgb(0 0 0 / 30%);
}


/*----------------aside(move-top)-----------------*/
aside{
	position: fixed;
	bottom :5%;
	right:5%;
	font-size: 50px;
	background: rgba(130, 130, 130, 0.4);
	border-radius: 70px;
	padding: 10px;
}
.move{
	font-size: 50px;
}


/*------------footer---------*/
footer{
	width: 100%;
	height: 100%;
	text-align: center;
	background:#210124;
	color: white;
	height: 200px;
	padding: 50px;
	line-height: 40px;
	margin-top: 50px;
	margin-bottom: 0px;
}

