@charset "EUC-KR";

body{ 
	font-family: 'Nanum Gothic', sans-serif;
	background: black;
	width: 1920px;
}



.hong{
	width: 1000px;
	height: 170px;
	background: black;
	text-align: center;
	margin: 500px auto 30px ;
	border: 5px solid #87e3ff;
	letter-spacing: 20px;
	opacity: 1;
	/* animation : 1s infinite wink;	*/
}

p{
	transition : all .1s;
}

@keyframes h{
	2%{
	opacity:0;
	}
	4%{
	opacity:1;
	}
	34%{
	opacity:0;
	}
	
	50%{	
	opacity: 0;
	}
	
	52%{	
	opacity: 1;
	}
}

@keyframes o{
	8%{
	opacity:0;
	}
	10%{
	opacity:1;
	}
	40%{
	opacity:0;
	}
	
	50%{
	opacity:0;
	}
	52%{	
	opacity:1;
	}
}
@keyframes n{
	15%{
	opacity: 0;
	}
	16%{
	opacity: 1;
	}

	46%{
	opacity:0;
	}
	37%{
	opacity:0;
	}
	50%{
	opacity:0;
	}
	52%{	
	opacity:1;
	}
}
@keyframes g{
	20%{
	opacity: 0;
	}
	22%{
	opacity: 1;
	}

	50%{
	opacity:0;
	}
	52%{	
	opacity:1;
	}
}
 
/* 
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
	text-shadow: 0 0 5px #fff, 0 0 13px #fff, 0 0 20px #fff;
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
} */
/* 
@keyframes flicker2 {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
	text-shadow: 0 0 0px #87e3ff, 0 0 13px #87e3ff, 0 0 20px #87e3ff;
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

 */


.h{
	color: white;
	display: inline-block;	
	font-size: 160px;
	text-transform: uppercase;
	font-weight: 1000;
	background: black;
	animation : 0.1s infinite flicker, 1s infinite h;	
	text-shadow: 0 0 5px #fff, 0 0 13px #fff, 0 0 20px #fff;
}
.o{
	color: white;
	display: inline-block;	
	font-size: 160px;
	text-transform: uppercase;
	font-weight: 1000;
	background: black;
	animation : 0.31s infinite flicker, 1s  infinite o;
	text-shadow: 0 0 5px #fff, 0 0 13px #fff, 0 0 20px #fff;
}

.h:hover{
	opacity: 1;
}
.o:hover{
	opacity: 1;
}
.n:hover{
	opacity: 1;
}
.g:hover{
	opacity: 1;
}


.n{
	color: #87e3ff;
	display: inline-block;
	font-size: 160px;
	text-transform: uppercase;
	font-weight: 1000;
	background: black;
	animation :0.21s infinite flicker2, 1s infinite n;
	text-shadow: 0 0 0px #87e3ff, 0 0 13px #87e3ff, 0 0 20px #87e3ff;
}
.g{
	color: #87e3ff;
	display: inline-block;
	font-size: 160px;
	text-transform: uppercase;
	font-weight: 1000;
	background: black;
	animation : 0.11s infinite flicker2, 1s infinite g;
	text-shadow: 0 0 0px #87e3ff, 0 0 13px #87e3ff, 0 0 20px #87e3ff;	
	font-family: sans-serif;
}


.back{
	width: 1920px;
	height: 1000px;
	margin: 0 auto;
}

.bg{
	width: 100%;
	opacity: 0.4;
/*	animation : 1s infinite wink;	*/
	animation: 	5s infinite bg;
}
	
@keyframes bg{
	1%{
		opacity: 0.4;
	}	
	50%{
		opacity: 1;
	}
}

@keyframes wink{
	10%{
		opacity: 0.5;
	}
	20%{
		opacity: 1;
	}
	
		
}



.bike{
	position: relative;
}

.b{
	position: absolute;
	top:-600px;
	left: 1500px;
	animation : 10s 5s linear infinite bike;
	height: 400px;
	z-index:10;
	opacity: 0;
}

.c{
	position: absolute;
	top:-600px;
	left: 1500px;
	animation : 7s linear infinite cat;
	height: 120px;
}

@keyframes bike{
	0%{
		opacity: 1;
		top:-600px;
		left: 1500px;
	}
	50%{
		left:-1000px;
		top: -1000px;
		opacity: 1;
	}
	51%{
		opacity: 0;
	}		
}

@keyframes cat{
	from{
		left: 1500px;
	}
	to{
		left:-200px;
	}
}	

/*---------person-------------*/

.person{
	height: 500px;
	width: 1020px;
	position: relative;
	margin-left: 400px;
	z-index:999
}

.person img{
	height: 60%;
	position: absolute;	
	opacity: 0;
	top: -800px;
	left:0px;
}
.person img:hover{
	opacity: 1;
}


.p1{
	left: 0px;
	animation:  1s infinite p1 , 6s linear infinite right;
}
.p2{
	animation: 1s infinite p2, 6s linear infinite right;
}
.p3{
	animation: 1s infinite p3, 6s linear infinite right;
}
.p4{
	animation: 1s infinite p4, 6s linear infinite right;
}
.p5{
	animation: 1s infinite p5, 6s linear infinite right;
}

 

@keyframes p1 {
	1%{
		opacity: 1;
	}
	20%{
		opacity: 1;
	}	
	40%{
		opacity: 0;
	}	
}
@keyframes p2 {
	20%{
		opacity: 0;
	}
	40%{
		opacity: 1;
	}	
	60%{
		opacity: 0;
	}	
}

@keyframes p3 {
	40%{
		opacity: 0;
	}
	60%{
		opacity: 1;
	}	
	80%{
		opacity: 0;
	}	
}
@keyframes p4 {
	60%{
		opacity: 0;
	}
	80%{
		opacity: 1;
	}	
	100%{
		opacity: 0;
	}	
}
@keyframes p5 {
	80%{
		opacity: 0;
	}
	99%{
		opacity: 1;
	}	
/* 	60%{
		opacity: 0;
	}	
 */
 }


 

 @keyframes right {
 	100%{
		transform: translateX(1200px)
 	}
	
}
 
 
 
 
 .cat2{
 	position: relative;
	width: 300px;
	height: 400px;
}

 
 .cat2 img{
	 width: 100px;
 	height: 300px;
 	position: absolute;
 	left: 1500px;
 	top: -1500px;
 	z-index:10
 }
 
 .eye{
    position: absolute;
    left: 1523px;
    top: -1322px;
    width: 48px;
    height: 12px;
    background: yellow;
    opacity: 0;
    animation : 5s infinite eye;
}


@keyframes eye{
	1%{
		opacity: 1;
	}
	21%{
		opacity: 1;	
	}
	22%{
		opacity: 0;
	}
	
}

.light{
	position: relative;
}
.light img{
	position: absolute;
	top: -2300px;
	left: 2000px;
	height: 1000px;
	opacity: 0.1;
	animation: 	5s infinite light;
}

.lig{
	width: 50px;
	height: 50px;
	position: absolute;
    top: -2237px;
    left: 2431px;
	background: white;
	border-radius: 100px;
	opacity: 0;
	box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 
	0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 
	0 0 80px white, 0 0 90px white, 0 0 60px white, 0 0 100px white;	
	animation: 	5s infinite light;
}
@keyframes light{
	1%{
		opacity: 0;
	}	
	50%{
		opacity: 1;
	}
	
}



